@{
    ViewBag.Title = "Add_Subjects";
}

<!DOCTYPE html>
<html lang="en">
<head>







    


 


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Portal</title>

    <link rel="stylesheet" type="text/css" href="/changing/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/changing/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/changing/css/local.css" />

    <script type="text/javascript" src="/changing/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/changing/bootstrap/js/bootstrap.min.js"></script>
    

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
    <script type="text/ecmascript">
      

        $('document').ready(function () {
            
            var index = 0;
            var ajax_call = true;

            
            $('#submit').click(function () {
                var v = "";
                var count = 0;
                $('input[type="text"]').each(function () {
                    
                    if (count == 0) {
                        v = $.trim($(this).val());
                        
                        if (v == "") {
                            $(this).css('border', '2px solid red');
                            ajax_call = false;
                            return false;
                            
                        }
                        count++;
                        
                    }
                    
                     
                    if ($.trim($(this).val()) == '') {
                      
                        $(this).css('border', '2px solid red');
                        ajax_call = false;
                        return false;
                        

                    }
                    else {
                        
                        
                        if (v.indexOf($.trim($(this).val()))>=0 && count>1) {
                            
                            alert("You have Duplicate Data. Please try again");
                            ajax_call = false;
                            return false;
                           
                        }
                       else if(count>1){

                           v = v + "," + $.trim($(this).val());
                           ajax_call = true;
                            
                           
                       }
                        count++;
                        
                        
                    }

                });

                if (ajax_call == true) {
                    

                    $.ajax({

                        url: '@Url.Action("add_seubjects_in_database")',
                        type: 'POST',
                        data: { degree: $('#degree').val(),
                            subjects: v,
                            session: $('#session').val()
                        },
                        success: function (data) {
                            if (data == true) {
                                alert("Seubjects are added successfully");
                                window.location.reload();
                            }
                            else {
                                alert("Someting went wrong.Please try again");

                                window.location.reload();
                            }
                        }


                    });
                }

            });

           

           $('#new_sec').click(function () {
              
               
               var breaks = '<div id="break'+index+'"> <br> <br> </div>';
               var input = $('<div id="' + index + '"> <label for="firstname" class="col-md-2"> Add Section</label>  <div class="col-md-9"> <input type="text" class="form-control" id="' + index + '" name="section" placeholder="Enter Section" required> </div> </div> ');
                   
             
                   
                  
            
              var cancel = $('<img src="/img/slider/cancel.png" width="20" height="20" id="'+index+'">').on('click',function () {
                  var id = $(this).attr('id');
                  $('#' + id).remove();
                  $(this).remove();
                  
                  $('#break'+id).remove();
                   
                   
                   
               });
              $('#this').append(input);
              $('#this').append(cancel);
              $('#this').append(breaks);
              
              index++;


           });
            
          
           

            


        });


    </script>

    



    <style>

    div.hidden {
    background-color: #00FF00;
    width: 100px;
    height: 100px;
    overflow: hidden;


}

    </style>


</head>



<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/adminpage">Admin Panel</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="~/Home/students"><i class="fa fa-bullseye"></i> Student Management</a></li>
                   
                   <li><a href="~/Home/fa"><i class="fa fa-tasks"></i> First Year Registeration</a></li>

                       
                   
                     

                       
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-user">
                    
                     <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="adminpage"><i class="fa fa-user"></i> Profile</a></li>
                          
                            <li class="divider"></li>
                            <li><a href="/Home/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

       
		 
        <div id="this">
          
        <div>
             

                  <label for="firstname" class="col-md-2">
                Select Degree :
            </label>
            <div class="col-md-9">
                @Html.DropDownList("degree", (IEnumerable<SelectListItem>)ViewBag.deg_name, new { @class = "form-control" })
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>  
       <br /> <br />  


            <div>
             

                  <label for="firstname" class="col-md-2">
                Select Degree :
            </label>
            <div class="col-md-9">
                @Html.DropDownList("session", (IEnumerable<SelectListItem>) ViewBag.session, new { @class = "form-control" })
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

             <br /> <br /> 
            
            <div>
             

                  <label for="firstname" class="col-md-2">
                Add Section:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="section" name="section" placeholder="Enter Section" required>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>  


       <br /> <br />  <br />  

             
         </div>    

                 
            
                
        <div>
            <div class="col-md-10">
                <button type="button" id="new_sec" name="new_sec" class="btn btn-info" style="float:left">
                    Add new Section
                </button> 
        </div>
            
            <div class="col-md-10">
                <button type="submit" id="submit" name="submit" class="btn btn-info" style="float:right">
                    Confrirm
                </button> 
        </div>
                
                
            </div>

       
        </div>
</body>
    </html>


             

                 

