

<!DOCTYPE html>
<html lang="en">
<head>










    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Portal</title>

    <link rel="stylesheet" type="text/css" href="/changing/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/changing/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/changing/css/local.css" />

    <script type="text/javascript" src="/changing/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/changing/bootstrap/js/bootstrap.min.js"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>

    <style>

    div.hidden {
    background-color: #00FF00;
    width: 100px;
    height: 100px;
    overflow: hidden;


}

    </style>


</head>



<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/adminpage">Admin Panel</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="~/Home/students"><i class="fa fa-bullseye"></i> Student Management</a></li>
                   
                   <li><a href="~/Home/fa"><i class="fa fa-tasks"></i> First Year Registeration</a></li>

                       
                   
                     

                       
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-user">
                    
                     <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="adminpage"><i class="fa fa-user"></i> Profile</a></li>
                          
                            <li class="divider"></li>
                            <li><a href="/Home/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

       
		

        <form action="/Home/Add_Student"  method="post" >   
        <div>
             

                  <label for="firstname" class="col-md-2">
                First Name:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="firstname" name="fname" placeholder="Enter First Name" required>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>  
       <br /> <br />  <br />      
        <div>
            <label for="lastname" class="col-md-2" >
                Last Name:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="lastname" name="lname" placeholder="Enter Last Name" required>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
           <br /> <br />  <br />       
        <div>
            <label for="emailaddress" class="col-md-2">
                Email address:
            </label>
            <div class="col-md-9">
                <input type="email" class="form-control" id="emailaddress" name="email" placeholder="Enter email address" required>
                <p class="help-block">
                    Example: yourname@domain.com
                </p>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
            <br /> <br />  <br /> <br /> <br />     
        <div>
            <label for="password" class="col-md-2">
                Password:
            </label>
            <div class="col-md-9">
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
                 
        </div>
            <br /> <br />  <br />   
            <div>
            <label for="address" class="col-md-2">
                Address:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id=add" name="add" placeholder="Enter Address" required>
                
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
            <br /> <br />  <br />      
           <div>
            <label for="section" class="col-md-2">
                Section:
            </label>
            <div class="col-md-9">
                <select name="sec" class="form-control">
                    <option>B-01</option>
                     <option>B-02</option>
                     <option>B-03</option>
                     <option>B-04</option>
                     <option>B-05</option>
                     <option>B-06</option>
                     <option>B-07</option>
                     <option>B-08</option>
                     <option>B-09</option>
                     <option>B-10</option>
                     <option>B-11</option>
                     <option>B-12</option>
                     <option>B-13</option>
                     <option>B-14</option>
                     <option>B-15</option>
                     <option>B-16</option>
                     <option>B-17</option>
                     <option>B-18</option>
                     <option>B-19</option>
                     <option>B-20</option>
                    


                </select>
                
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

          <br /> <br />  <br />       


            <div>
            <label for="degree" class="col-md-2">
                Degree:
            </label>
            <div class="col-md-9">
              
                <input type="text" class="form-control" id=degree" name="degree" value="BCOM" readonly>    
              
            </div>            
        </div>

          <br /> <br />  <br />  
        <div>
            <label for="sex" class="col-md-2">
                Gender:
            </label>
            <div class="col-md-10">
                <label class="radio">
                    <input type="radio" name="sex" id="sex" value="male" checked required>
                    Male
                </label>
                <label class="radio">
                    <input type="radio" name="sex" id="Radio1" value="female" required>
                    Female
                </label>
            </div>             
        </div>
            <br /> <br />  <br />      
        <div>
            <label for="country" class="col-md-2">
                Country:
            </label>
            <div class="col-md-9">
                <select name="city" id="city"  class="form-control" placeholder="Select Country"required>
                    
                    <option>India</option>
                    <option>United States</option>
                    <option>Canada</option>
                    <option>United Kingdom</option>
                    <option>Others</option>
                </select>
            </div>            
        </div>
            <br /> <br />  <br />       
        <div>
            <label for="uploadimage" class="col-md-2">
                Upload Image:
            </label>
            <div class="col-md-10">
                <input type="file" name="uploadimage" id="uploadimage">
                <p class="help-block">
                    Allowed formats: jpeg, jpg, gif, png
                </p>
            </div>  
          
            
              
                            
        </div>
          <br /> <br />  <br />      
        <div>
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label>
                    <input type="checkbox">I hereby accept the terms and conditions for using this site</label>
            </div>     
            </div>       

            <br /> <br />  <br />       .


        
            
          
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button type="submit" class="btn btn-info">
                    Register
                </button> 
        </div>
            </div>
             </form>   
    </div>  
   
    

</body>
</html>

