@model my_project.Models.student_subject

@{
    ViewBag.Title = "check_studentAttendance2";
}



@{
    <select name="dropdown" id="sub" name="sub">
        if(@Model.sub1==NULL)
        {
            <option>@Model.sub1</option>
        }



    </select>

}
