@model my_project.Models.fee_structure

@{
    ViewBag.Title = "fsc_med_challan";
}









<!DOCTYPE html>
<html lang="en">
<head>






<META Http-Equiv="Cache-Control" Content="no-cache"/>
<META Http-Equiv="Pragma" Content="no-cache"/>
<META Http-Equiv="Expires" Content="0"/>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Portal</title>

    <link rel="stylesheet" type="text/css" href="/changing/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/changing/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/changing/css/local.css" />

    <script type="text/javascript" src="/changing/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/changing/bootstrap/js/bootstrap.min.js"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>

    


    <style>

    div.hidden {
    background-color: #00FF00;
    width: 100px;
    height: 100px;
    overflow: hidden;


}

    </style>


</head>



<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/adminpage">Admin Panel</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="~/Home/manage_fee"><i class="fa fa-bullseye"></i> Dashboard</a></li>
               
                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    
                     <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="adminpage"><i class="fa fa-user"></i> Profile</a></li>
                          
                            <li class="divider"></li>
                            <li><a href="/Home/logout"><i class="fa fa-power-off"></i> Log Out </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>


       <div>
        <div class="row text-center">
           
        </div>
           </div>


        <form action="~/Home/generate_challan_form"  name="myform" method="post">   


            <div>
            <label for="section" class="col-md-2">
               Name:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="name" name="name" required>
                
                
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
            
              <br /> <br /> <br />
                
            
        
           <div>
            <label for="section" class="col-md-2">
               Degree:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="deg" name="deg" value="@Model.degree" readonly>
                
                
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
            
              <br /> <br /> <br />
                
            
            <div>
            <label for="password" class="col-md-2">
                Total Fee:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="t_fee" name="t_fee" value="@Model.total_fee" readonly/>
                
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>


           <br /> <br /> <br />


            <div>
            <label for="password" class="col-md-2">
                Installment Fee:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="t_fee" name="t_fee" value="@Model.installment_fee" readonly/>
                
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>


           <br /> <br /> <br />
             

             <div>
            <label for="password" class="col-md-2">
               Fee type:
            </label>
            <div class="col-md-9">
                <select name="fee_type" class="form-control">
                    <option>Monthly Fee</option>
                    <option>Installment</option>
                    </select>
                
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

           
            

            
          
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button type="submit" class="btn btn-info">
                    View Challan Form
                </button> 

        </div>
            </div>
           
             </form>   
    </div>  
    

   
  
    

</body>
</html>






