@{
    ViewBag.Title = "Quizes";
}






<body>










<!DOCTYPE html>
<html lang="en">
<head>






<META Http-Equiv="Cache-Control" Content="no-cache"/>
<META Http-Equiv="Pragma" Content="no-cache"/>
<META Http-Equiv="Expires" Content="0"/>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Portal</title>

    <link rel="stylesheet" type="text/css" href="/changing/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/changing/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/changing/css/local.css" />

    <script type="text/javascript" src="/changing/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/changing/bootstrap/js/bootstrap.min.js"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>

    


    <style>

    div.hidden {
    background-color: #00FF00;
    width: 100px;
    height: 100px;
    overflow: hidden;


}

    </style>


</head>



<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Teacher Panel</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="~/Home/teacher_mainpage"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                    <li><a href="~/Home/studentAttendance"><i class="fa fa-tasks"></i> Attendance</a></li>
                     <li><a href="~/Home/Quizes"><i class="fa fa-tasks"></i> Quizes</a></li>
                    <li><a href="~/Home/MidTerm"><i class="fa fa-tasks"></i> MidTerm Result</a></li>
                    
                    <li><a href="~/Home/MidTermMarks"><i class="fa fa-tasks"></i> FinalTerm Result</a></li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    
                     <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @ViewBag.mes<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="adminpage"><i class="fa fa-user"></i> Profile</a></li>
                          
                            <li class="divider"></li>
                            <li><a href="/Home/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
		
		

       
	   
 

            <form action="~/Home/Quizes1" method="post"> 
    
 
     
    
      
     
               

         <div class="col-md-9">
             <i> Select Section </i>
                <select name="section" id="sec"  class="form-control">
                    
                   
                
             

     @{
         for(int i=0;i<@ViewBag.sel_sub.Count;i=i+2)
         {
             <option>  @ViewBag.sel_sub[i] @ViewBag.sel_sub[i+1] </option>
     }
     }

   


    
    
</select> 
         </div> 
     <br />
     <br />
    <br />
     <br />

                
              <div class="col-md-9">  

            
                  </div>
        
    <div class="col-md-10">
               <p align="right"> <button type="submit" class="btn btn-info">
                    Add Marks
                </button> 

                   </p>
        </div>

        

         </form>
        <div class ="hidden" > hello </div>


     </body>

        

      
       

    <!-- /#wrapper -->

    <script type="text/javascript">
        jQuery(function ($) {
            var performance = [12, 43, 34, 22, 12, 33, 4, 17, 22, 34, 54, 67],
                visits = [123, 323, 143, 132, 274, 223, 143, 156, 223, 223],
                budget = [23, 19, 11, 34, 42, 52, 35, 22, 37, 45, 55, 57],
                sales = [11, 9, 31, 34, 42, 52, 35, 22, 37, 45, 55, 57],
                targets = [17, 19, 5, 4, 62, 62, 75, 12, 47, 55, 65, 67],
                avrg = [117, 119, 95, 114, 162, 162, 175, 112, 147, 155, 265, 167];

            $("#shieldui-chart1").shieldChart({
                primaryHeader: {
                    text: "Visitors"
                },
                exportOptions: {
                    image: false,
                    print: false
                },
                dataSeries: [{
                    seriesType: "area",
                    collectionAlias: "Q Data",
                    data: performance
                }]
            });

            $("#shieldui-chart2").shieldChart({
                primaryHeader: {
                    text: "Login Data"
                },
                exportOptions: {
                    image: false,
                    print: false
                },
                dataSeries: [
                    {
                        seriesType: "polarbar",
                        collectionAlias: "Logins",
                        data: visits
                    },
                    {
                        seriesType: "polarbar",
                        collectionAlias: "Avg Visit Duration",
                        data: avrg
                    }
                ]
            });

            $("#shieldui-chart3").shieldChart({
                primaryHeader: {
                    text: "Sales Data"
                },
                dataSeries: [
                    {
                        seriesType: "bar",
                        collectionAlias: "Budget",
                        data: budget
                    },
                    {
                        seriesType: "bar",
                        collectionAlias: "Sales",
                        data: sales
                    },
                    {
                        seriesType: "spline",
                        collectionAlias: "Targets",
                        data: targets
                    }
                ]
            });

            $("#shieldui-grid1").shieldGrid({
                dataSource: {
                    data: gridData
                },
                sorting: {
                    multiple: true
                },
                paging: {
                    pageSize: 7,
                    pageLinksCount: 4
                },
                selection: {
                    type: "row",
                    multiple: true,
                    toggle: false
                },
                columns: [
                    { field: "id", width: "70px", title: "ID" },
                    { field: "name", title: "Person Name" },
                    { field: "company", title: "Company Name" },
                    { field: "email", title: "Email Address", width: "270px" }
                ]
            });
        });
    </script>
</body>
</html>







 


  
   


    
   


 
               
            
             
               
                  
               
    
                 
       

        

   


